@import "tailwindcss";
/*
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    height: 100vh;

    display: flex;
    padding: 16px;
    box-sizing: border-box;

    background: #f5f5f5;
}

.Board {

    display: flex;
    flex-direction: column;
    width: calc(100vh - 32px);
    height: 95vh;

    padding: 12px;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    overflow: auto;
    box-sizing: border-box;
}

.title {
    font-size: 16px;
    text-align: center;
}

.info {
    font-size: 13px;
    padding-top: 6px;
}*/