body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    padding: 8px;
    border-radius: 10px;
    width: 200px;
    min-height: 75px;
    margin: 10px;
}

.title {
    font-size: 16px;
    text-align: center;
}

.info {
    font-size: 13px;
    padding-top: 6px;
}